/* About.css */

.jumbotron {
	text-align:center;
	min-height: 400px;
	background: url("https://source.unsplash.com/OqtafYT5kTw");
	background-size:cover;
	background-position:center;
	color:white;
	text-shadow: 0px 4px 3px rgba(0, 0, 0,0.4), 
					0 8px 13px rgba(0, 0, 0, 0.1), 
						0 13px 18px rgba(0, 0,0, 0.1);
	padding: 0;
}

.jumbotron>.container {
    font-family: 'Lato', sans-serif;
    min-height: 100%;
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    height: 100%;
}

.jumbotron h1 {
	text-transform:uppercase;
	margin-top: 12%;
	font-family:"Oswald";
	font-size: 5em;
}

.jumbotron h2 {
	font-size:1.5em;
	font-family:"Lato";
}

/* Team */
.team {
	margin-top: 50px;
	margin-bottom: 50px;
}

.team h1 {
	margin-bottom: 40px;
}

.thumbnail img {
	height:252px;
	width:100%;
}

@media screen and (max-width:750px) {
	.thumbnail img {
		height: auto;
	}
}

/* Our stories */
.wrapper h1 {
	margin-top:100px;
	text-align:center;
	margin-bottom:50px;
}

.tab-content {
	border: 1px solid #eee;
	padding: 30px;
	height: 500px;
}

li.active a  {
	background: #fdb000 !important;
	color:black;
}

.nav>li>a:hover {
	background:white;
}

li a {
	color: black;
	font-weight:bold;
}
