/** How It Works css style */

/* Jumbotron */

.jumbotron {
    text-align:center;
    min-height: 400px;
    background: url("https://source.unsplash.com/jMpLgHLeXZQ");
    background-size:cover;
    background-position:center;
    color:white;
    text-shadow: 0px 4px 3px rgba(0, 0, 0,0.4), 
                    0 8px 13px rgba(0, 0, 0, 0.1), 
                        0 13px 18px rgba(0, 0,0, 0.1);
    padding: 0;
}

.jumbotron>.container {
    font-family: 'Lato', sans-serif;
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    min-height: 400px;
}

.jumbotron h1 {
    text-transform:uppercase;
    margin-top: 12%;
    font-family:"Oswald";
    font-size: 5em;
}

.jumbotron h2 {
    font-size:1.5em;
    font-family:"Lato";
}

/* Panel */

.alert {
    margin-top: 30px;
}

.faqHeader {
    font-size: 27px;
    margin: 20px;
    margin-left: 0;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "\e072";
    /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}

#accordion a:hover, #accordion a:focus {
    text-decoration:none;
}
