/** How It Works css style */

/* Jumbotron */

.jumbotron {
    margin: 0px;
    padding: 0px;
    min-height: 180px;
    background: url("https://source.unsplash.com/jMpLgHLeXZQ");
    background-size: cover;
    background-position: 0% 30%;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1), 0 13px 18px rgba(0, 0, 0, 0.1);
}

.jumbotron h1 {
    margin-top: 60px;
    margin-bottom: 0px;
    font-size: 5em;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

.jumbotron>.container {
    font-family: 'Lato', sans-serif;
    min-height: 2em;
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
}

.jumbotron>.container h2 {
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 30px;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
}

/* Panel */

.alert {
    margin-top: 30px;
}

.faqHeader {
    font-size: 27px;
    margin: 20px;
    margin-left: 0;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "\e072";
    /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}

#accordion a:hover, #accordion a:focus {
    text-decoration:none;
}