
/** General css style */

/* General */

@font-face {
	font-family: "ADAM.CG PRO" ;
	src:url("../resources/fonts/ADAM.CG PRO.otf");
}

body {
	font-family: "Lato", sans-serif;
	font-size: 16px;
}

h1, h2 {
	font-family: "Oswald", sans-serif;
}

a {
	color: #fdb000;
}

a:hover {
	color:black;
}

button:hover {
	background: white !important;
	color:#4baa49 !important;
	border-color:silver !important;
}

/* Navigation presentation */
.navbar-brand {height: 28px; padding-top:18px !important; padding-bottom:0px !important;}

@media (min-width: 768px) {
.navbar {
    border-radius: 0 ;
}
}

.navbar {
	margin-bottom: 0;
}

.navbar-inverse {
	background: #A9c722;
	border-color: transparent;
	padding:5px 2%;
}

.navbar-inverse .navbar-brand {
	font-family: "ADAM.CG PRO";
	color: black;
	font-size: 2em;
}

.navbar-inverse .navbar-nav > li > a {
	color: black;
	/*font-size: 16px;
	line-height: 28px;*/
}


.navbar-inverse .navbar-toggle {
	border-color: white;
	border-width: 2px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background: #5e8f2c ;
}

nav a {
	outline:none !important;
}


/* Footer presentation */

footer {
	text-align:center;
	height: 60px;
	background: #a9c722;
	line-height:60px;
	font-weight: bold;
	margin-top:50px;
}

footer p {
	margin-bottom: 0;
}
