<navbar></navbar>
<!-- Jumbotron for stopname -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h3>NEXTRAM</h3>
        <h1>{{ stopName }}</h1>
        <h2 *ngIf="stopNo">Stop {{ stopNo }}</h2>
        <p>Not here? <button class="btn" onclick="location.href='../search'">Change</button>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div><!-- /jumbotron -->

<div class="container-fluid">
  <!-- <div *ngFor="let key of processedGroupedDepts | keys;"> -->
    <div *ngFor="let row of processedGroupedDepts" class="row match-my-cols">
      <div class="col-sm-6 nextram_box full text-center"
          attr.class="{{'col-sm-6 nextram_box text-center ' + crowdSourcedDisruptions[column[0].run_id]?.class.toLowerCase()}}"
          *ngFor="let column of row"><div class="box padding-15px">
        <span class="{{ 'route_number_table route_number_' + routes[column[0].route_id].route_number }}">{{ routes[column[0].route_id].route_number }}</span>
        {{ 'to ' + directions[column[0].direction_id].direction_name }}

        <h1></h1>

        <div *ngFor="let departure of column; let i=index">
          <div *ngIf="i==0">
            <departure
                [crowdSourcedDisruptions]="crowdSourcedDisruptions"
                [departure]="column[0]"
                [routes]="routes"
                [directions]="directions">
            </departure>
          </div>
        </div>

        <div class="row">
          <div class="panel-group" id="{{ 'accordion' + column[0].route_id + '-' + column[0].direction_id }}">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><a class="accordion-toggle collapsed"
                    data-toggle="collapse"
                    attr.data-parent="{{ '#accordion' + column[0].route_id + '-' + column[0].direction_id }}"
                    href="{{ '#collapse' + column[0].route_id + '-' + column[0].direction_id }}">
                  More details and reporting</a>
                </h4>
              </div>

              <div id="{{ 'collapse' + column[0].route_id + '-' + column[0].direction_id }}" class="panel-collapse collapse">
                <ul class="nav nav-pills center-pills">
                  <li class="active"><a data-toggle="tab" class="pill-tabs" href="{{ '#moreDetails' + column[0].route_id + '-' + column[0].direction_id }}">Next departures</a></li>
                  <li><a data-toggle="tab" class="pill-tabs" href="{{ '#reportCrowd' + column[0].route_id + '-' + column[0].direction_id }}">Report Crowd</a></li>
                  <li><a data-toggle="tab" class="pill-tabs" href="{{ '#reportDisruption' + column[0].route_id + '-' + column[0].direction_id }}">Report Disruption</a></li>
                </ul>

                <div class="tab-content">
                  <div class="tab-pane fade in active" id="{{'moreDetails' + column[0].route_id + '-' + column[0].direction_id }}">
                      <div class="well">
                        <div *ngFor="let departure of column; let i=index">

                          <div *ngIf="i>0">
                            <smalldeparture
                                [crowdSourcedDisruptions]="crowdSourcedDisruptions"
                                [departure]="departure"
                                [routes]="routes"
                                [directions]="directions">
                            </smalldeparture>
                          </div>

                        </div>
                      </div><!-- end bunch -->
                    </div>

                  <div class="tab-pane fade in" id="{{'reportCrowd' + column[0].route_id + '-' + column[0].direction_id }}">
                    <div class="well" *ngIf="column[0].run_id != lastSubmitted?.run_id || !lastSubmitted"> <!-- if not last submitted -->
                      <div class="row">
                        <h5>Rate the crowding level of the tram below:</h5>
                      </div>

                      <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                          <!-- Button crowdedness -->
                          <button (click)="onInputData(column[0], 0)"
                                  (click)="onSubmitCrowdedness()"
                                  class="btn btn-success btn-lg clear_5px_top" type="submit" name="crowdedness" value="0">Empty</button>
                          <button (click)="onInputData(column[0], 1)"
                                  (click)="onSubmitCrowdedness()"
                                  class="btn btn-success btn-lg clear_5px_top" name="crowdedness" value="1" type="submit">Decent</button>
                          <button (click)="onInputData(column[0], 2)"
                                  (click)="onSubmitCrowdedness()"
                                  name="crowdedness" value="2" class="btn btn-warning btn-lg clear_5px_top" type="submit">Full</button>
                          <button (click)="onInputData(column[0], 3)"
                                  (click)="onSubmitCrowdedness()"
                                  class="btn btn-danger btn-lg clear_5px_top" type="submit" name="crowdedness" value="3">Overcrowded</button>
                        </div>
                      </div>
                    </div>
                    <div class="well" *ngIf="column[0].run_id == lastSubmitted?.run_id"> <!-- if not last submitted -->
                      <p>Thank you for submitting!</p>
                    </div>
                  </div>

                  <div class="tab-pane fade in" id="{{'reportDisruption' + column[0].route_id + '-' + column[0].direction_id }}">
                    <div class="well" *ngIf="column[0].run_id != lastSubmittedDisruption?.run_id || !lastSubmittedDisruption">
                      <div class="row">
                        <h5>Describe any disruptions or inconveniences below:</h5>
                      </div>

                      <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                          <div class="input-group">
                            <textarea class="form-control" id="disruption" placeholder="Enter here" rows="2"></textarea>
                            <span (onclick)="onSubmitDisruption()" class="input-group-addon btn btn-primary">Submit</span>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="well" *ngIf="column[0].run_id == lastSubmittedDisruption?.run_id"> <!-- if not last submitted -->
                      <p>Thank you for submitting!</p>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>




      </div></div><!-- End of col -->

    </div>
  <!-- </div> -->
</div>


<footer>
  <p>COPYRIGHT HOOKTURNS 2017</p>
</footer>


<!-- {{ departuresData?.status }}  http://stackoverflow.com/a/34738113: wait for Promise -->
