<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="inner cover">
                <h1 class="cover-heading">404</h1>
                <p class="lead">Can't find what you're looking for.</p>
                <button class ="btn btn-lg btn-default" onclick="goBack()">Go back to where you came from</button>
                <script>
                function goBack() {
                window.history.back();
                }
                </script>
            </div>
            <div class="mastfoot">
                <div class="inner">
                </div>
            </div>
        </div>
    </div>
</div>