<!-- Jumbotron -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>About Us</h1>
                <h2>Discover our teams, journeys and technologies that we used for this project</h2>
            </div>
        </div>
    </div>
</div>

<!-- Team -->
<div class="container team">
    <h1 class="text-center">MEET OUR TEAM MEMBERS</h1>
    <div class="row">
        <div class="col-sm-3 col-xs-12">
           <div class="thumbnail">
                <img src="img/krusli.JPG" />
                <div class="caption">
                    <h3>Kenneth Aloysius</h3>
                    <p><strong>Student Number:</strong><br />772449</p>
                    <p><strong>Username:</strong><br />kaloysius</p>
                    <p><strong>Education:</strong> <br />University of Melbourne
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-xs-12">
           <div class="thumbnail">
                <img src="img/maleakhi-pic.jpg" />
                <div class="caption">
                    <h3>Maleakhi Wijaya</h3>
                    <p><strong>Student Number:</strong><br />784091</p>
                    <p><strong>Username</strong><br />maleakhiw</p>
                    <p><strong>Education:</strong> <br />University of Melbourne
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-xs-12">
           <div class="thumbnail">
                <img src="img/sierra.jpg" />
                <div class="caption">
                    <h3>Fadhil Anshar</h3>
                    <p><strong>Student Number:</strong><br />727214</p>
                    <p><strong>Username:</strong><br />nightietime</p>
                    <p><strong>Education:</strong> <br />University of Melbourne
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-xs-12">
           <div class="thumbnail">
                <img src="img/ricky-pic.JPG" />
                <div class="caption">
                    <h3>Ricky Tanudjaja</h3>
                    <p><strong>Student Number:</strong><br />773597</p>
                    <p><strong>Username:</strong><br />rtanudjaja</p>
                    <p><strong>Education:</strong> <br />University of Melbourne
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End of team section -->

