	<!-- Jumbotron -->
		<div class="jumbotron">
			<div class="container">
				<h1>NexTram</h1>
				<h2>Search for Tram Stops and Destination</h2>
			</div>
		</div> <!-- /jumbotron -->

		<!-- Autocomplete searchbar -->
		<div id="searchfield">
		    <div class="container">
		    	<div class="row">
		    		<div class="col-md-2 col-xs-1"></div>
        			<form class="col-md-8 col-xs-10">
        				<div class="input-group">
        					<input type="text" name="search" class="biginput" id="autocomplete" placeholder="Search for...">
        					<span class="input-group-btn">
	        				<button class="btn btn-success" type="button" onclick="window.location.href='/nextram'">Go!</button>
	      				</span>
	      				</div><!-- /input-group -->
        			</form>
        			<div class="col-md-2 col-xs-1"></div>
        		</div>
        	</div>
      	</div> <!-- End of autocomplete search bar -->