	<!-- Jumbotron -->
		<div class="jumbotron">
			<div class="container">
				<h1>NexTram</h1>
				<h2>NexTram brings you real-time crowdsourced crowding and disruption information - just search for a stop to see all upcoming departures.</h2>

				<!-- Autocomplete searchbar -->
				<div id="searchfield">
						<div class="container">
							<div class="row">
								<div class="col-md-2 col-xs-1"></div>
								<form method="GET" action="/nextram" class="col-md-8 col-xs-10">
									<div class="input-group">
										<input type="text" name="search" class="biginput" id="autocomplete" placeholder="Search for...">
										<span class="input-group-btn">
										<button class="btn btn-success" type="submit">Go!</button>
									</span>
									</div><!-- /input-group -->
								</form>
								<div class="col-md-2 col-xs-1"></div>
								</div>
							</div>
						</div> <!-- End of autocomplete search bar -->

			</div>
		</div> <!-- /jumbotron -->
