		<!-- <footer <%if (pageId === "search") { %> id = "dank_footer" <% } %>> -->
		<footer <%if (pageId === "search") { %> class = "navbar navbar-fixed-bottom" <% } %>>
			<p>COPYRIGHT HOOKTURNS 2017</p>
		</footer>
		<!-- Include Javascript and Jquery -->
		<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<% if (pageId === "search" || pageId === "home") { %>
		<script type="text/javascript" src="js/jquery.autocomplete.min.js"></script>
		<script type="text/javascript" src="js/search-autocomplete.js"></script>
		<% } %>
	</body>
</html>
